@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import "./mixins.scss";
:root {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
  --black: #04152d;
  --black2: #041226;
  --black3: #020c1b;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --blue: #0a90de;
  --white: rgb(222, 240, 240);
  --gradient: linear-gradient(160deg, rgba(29,253,217,1) 30%, rgba(69,183,252,1) 70%);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: var(--black);
}

// ::-webkit-scrollbar {
//   display: none;
// }
::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}
.auto::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}


@include md{
  ::-webkit-scrollbar-track {
    // background: var(--black-lighter);
    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(244,244,244,0) 0%);
    border-radius: 0 20px 20px 0;        /* color of the tracking area */
  }
}

@include md {
  ::-webkit-scrollbar-thumb {
    background: var(--gradient);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    // border: 3px solid orange;  /* creates padding around scroll thumb */
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
          90deg,
          rgba(#193763, 0) 0,
          rgba(#193763, 0.2) 20%,
          rgba(#193763, 0.5) 60%,
          rgba(#193763, 0)
      );
      // background-color: white;
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}